<div class="page-container">
    <div class="page-header"> <h2 class="page-title">Terceros</h2> </div>

    <div class="section-divider"></div>


    <div class="section-header span-3"><h3>Filtros.</h3></div>
    <mat-card class="form-card">
        <mat-card-content class="form-grid">
            

                <div class="btn-group">
                    <button mat-flat-button class="btn-small-danger" (click)="clearFilters()">
                        <mat-icon>delete_outline</mat-icon>
                    </button>

                    <button mat-flat-button class="btn-small-primary" (click)="buscarEmpleado()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>

                <form [formGroup]="form" class="span-3">
                    <div class="top-row">
                        <mat-form-field appearance="outline" class="compact-field qna-compact" floatLabel="always">
                            <mat-label>Año</mat-label>
                                <mat-select formControlName="anio" (selectionChange)="onQnaModelChange()">
                                    <mat-option *ngFor="let anio of anio" [value]="anio">{{ anio }}</mat-option>
                                </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="compact-field qna-compact" floatLabel="always">
                            <mat-label>Quincena</mat-label>
                                <mat-select formControlName ="quincena" (selectionChange)="onQnaModelChange()">
                                    <mat-option *ngFor="let q of quincena" [value]="q">{{ q.toString().padStart(2,'0') }}</mat-option>
                                </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="compact-field qna-compact" floatLabel="always">
                            <mat-label>Concepto</mat-label>
                                <mat-select formControlName ="concepto">
                                    <mat-option *ngFor="let c of concepto" [value]="c">
                                        {{ c.cve }} 
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>

                        <div class="compact-field qna-compact movimiento-col">
                           
                                <span class="movimiento-text">
                                    {{ form.get('concepto')?.value?.descripcion || '—' }}
                                </span>
                        </div>

                        <div>
                            <span class="info-label">Descargar documento</span>
                            <button mat-button class="btn-small-primary">Descargar</button>.txt
                        </div>
                    </div>

                     <div formGroupName="busqueda" >
                        <mat-form-field appearance="outline" class="compact-field with-separator search" floatLabel="always">
                            <mat-icon matPrefix>search</mat-icon>
                                <input
                                    matInput
                                    id="buscarEmpleado"
                                    formControlName="searchText"
                                    [matAutocomplete]="auto"
                                    #autocompleteTrigger="matAutocompleteTrigger" 
                                    (keyup.enter)="buscarEmpleado()"
                                    (input)="enforceUppercase($event)"
                                    placeholder="BUSCAR POR RFC, PRIMER APELLIDO, SEGUNDO APELLIDO O POR NOMBRE">

                                <mat-autocomplete #auto="matAutocomplete" 
                                    (optionSelected)="empleadoSeleccionado($event.option.value)" 
                                    [displayWith]="displayEmpleado">
                                    <mat-option *ngFor="let emp of resultado" [value]="emp">
                                        {{ displayEmpleado(emp) }} 
                                    </mat-option>
                                </mat-autocomplete>
                        </mat-form-field>
                    </div>

                </form>
        </mat-card-content>
    </mat-card>

    <div class="table-container section"></div>

    <div class="table-layout">

    <!-- TABLA -->
    <div class="table-section">
        <div class="table-card card">
            <div class="table-content">
                <div class="table-scroll">
                    <table mat-table [dataSource]="dataSource" class="nomina-table">

                        <ng-container matColumnDef="rfc">
                            <th mat-header-cell *matHeaderCellDef>
                                RFC
                                    <br>
                                        <input
                                            matInput
                                            placeholder="Buscar"
                                            (input)="enforceUppercase($event)"
                                            (keyup.enter)="buscarEmpleado($event.target.value)">
                            </th>
                            <td mat-cell *matCellDef="let e">{{ e.rfc }}</td>
                        </ng-container>

                        <ng-container matColumnDef="curp">
                            <th mat-header-cell *matHeaderCellDef>
                                CURP
                                    <br>
                                        <input
                                            matInput
                                            placeholder="Buscar"
                                            (input)="enforceUppercase($event)"
                                            (keyup.enter)="buscarEmpleado($event.target.value)">
                            </th>
                            <td mat-cell *matCellDef="let e">{{ e.curp }}</td>
                        </ng-container>

                        <ng-container matColumnDef="nombreCompleto">
                            <th mat-header-cell *matHeaderCellDef>
                                Nombre completo
                                    <br>
                                        <input
                                            matInput
                                            placeholder="Buscar"
                                            (input)="enforceUppercase($event)"
                                            (keyup.enter)="buscarEmpleado($event.target.value)">
                            </th>
                            <td mat-cell *matCellDef="let e">{{ e.nombreCompleto }}</td>
                        </ng-container>

                        <ng-container matColumnDef="liquides">
                            <th mat-header-cell *matHeaderCellDef>Liquides</th>
                            <td mat-cell *matCellDef="let e">{{ e.liquides }}</td>
                        </ng-container>

                        <ng-container matColumnDef="qnaProceso">
                            <th mat-header-cell *matHeaderCellDef>Qna</th>
                            <td mat-cell *matCellDef="let e">{{ e.qnaProceso }}</td>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let e">
                                    <div class="table-actions">
                                        
                                        <button mat-icon-button class="btn-success" (click)="editar(e); $event.stopPropagation()">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                        <button mat-icon-button class="btn-danger" (click)="eliminar(e); $event.stopPropagation()">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator
                        [length]="totalElements"
                        [pageSize]="50"
                        [pageSizeOptions]="[50, 100, 150, 200]"
                        showFirstLastButtons>
                    </mat-paginator>

                </div>
            </div>
        </div>
    </div>
    

    <div class="detail-section" *ngIf="selectedRow">
        <div class="panel-header">
            <h3>Detalle del empleado</h3>
                <button mat-icon-button class="close-btn" (click)="selectedRow = null">
                <mat-icon>close</mat-icon>
                </button>
    </div>

    <mat-card class="detail-card">
        <mat-card-content>
            <form [formGroup]="detailForm" class="detail-form">

                <mat-form-field appearance="outline">
                    <mat-label>RFC *</mat-label>
                    <input matInput formControlName="rfc">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombreCompleto">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Qna</mat-label>
                    <input matInput formControlName="qnaProceso">
                </mat-form-field>

                <button mat-icon-button color="primary" (click)="verNomina(selectedRow)">
    <mat-icon>visibility</mat-icon>
</button>

        
                <div class="btn-group">
                    <button mat-flat-button class="btn-success">Guardar</button>
                    <button mat-stroked-button class="btn-danger" (click)="selectedRow = null">Cancelar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    </div>
    </div>
</div>