/* Botones */
.actions-right {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0 15px;
  margin-top: 15px;
}

.btn-group {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.btn {
  width: 120px;
  height: 36px;
  padding: 0 16px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: .2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: none !important;
  transition: all .18s ease;
  cursor: pointer;
  position: relative;
  background: transparent;
  border: 2px solid;
}

.btn mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  transition: transform 0.2s ease;
}

.btn-danger {
  background: transparent;
  color: #dc2626;
  border-color: #dc2626;
}

.btn-danger:hover {
  background: #dc2626;
  color: #ffffff;
  border-color: #dc2626;
  transform: translateY(-1px);
}

.btnn-primary {
  background: transparent;
  color: #2563eb;
  border-color: #2563eb;
}

.btnn-primary:hover {
  background: #2563eb;
  color: #ffffff;
  border-color: #2563eb;
  transform: translateY(-1px);
}

.btnn {
    width: 40px;
    height: 36px;
    padding: 0 4px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: .2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: none !important;
    transition: all .18s ease;
    cursor: pointer;
    position: relative;
    background: transparent;
    border: 2px solid;
    margin-left: 8px;
}

.btnn-dangerr {
    background: transparent;
    color: #dc2626;
    border-color: #dc2626;
}

.btnn-dangerr:hover {
    background: #dc2626;
    color: #ffffff;
    border-color: #dc2626;
    transform: translateY(-1px);
}


.btn-succes {
  background: transparent;
  color: #2e7d32;
  border-color: #2e7d32;
}

.btn-succes:hover {
  background: #2e7d32;
  color: #ffffff;
  border-color: #2e7d32;
  transform: translateY(-1px);
}

:host ::ng-deep .dlg-bar .mat-mdc-icon-button {
  --mdc-icon-button-icon-color: #ffffff;
  --mdc-icon-button-disabled-icon-color: rgba(255, 255, 255, 0.38);
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .dlg-bar .mat-mdc-icon-button {
  --mdc-icon-button-icon-color: #ffffff;
  --mdc-icon-button-disabled-icon-color: rgba(255, 255, 255, 0.38);
}

:host ::ng-deep .compact-field mat-icon {
  font-size: 18px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

/* TABLA GLOBAL */
.table-global {
    width: 100%;
}


.table-global .mat-mdc-header-cell {
    vertical-align: middle !important;
    padding: 10px 8px !important;
}

.table-global .mat-column-name {
  width: 30px !important;
  min-width: 30px !important;
  max-width: 30px !important;
  text-align: center;
}

.table-global .mat-column-description {
  width: 70px !important;
  min-width: 70px !important;
  max-width: 70px !important;
  text-align: center;
}

.table-global .mat-column-vista {
  width: 10px !important;
  min-width: 10px !important;
  max-width: 10px !important;
  text-align: center;
}
.table-global .mat-column-parent {
  width: 10px !important;
  min-width: 10px !important;
  max-width: 10px !important;
  text-align: center;
}
.table-global .mat-column-icon {
  width: 10px !important;
  min-width: 10px !important;
  max-width: 10px !important;
  text-align: center;
}

.table-global .mat-column-actions {
  width: 10px !important;
  min-width: 10px !important;
  max-width: 10px !important;
  text-align: center;
}

/* Centrar cabeceras ID y ROL */
::ng-deep .table-global .mat-column-name.mat-mdc-header-cell,
::ng-deep .table-global .mat-column-description.mat-mdc-header-cell,
::ng-deep .table-global .mat-column-vista.mat-mdc-header-cell,
::ng-deep .table-global .mat-column-parent.mat-mdc-header-cell,
::ng-deep .table-global .mat-column-icon.mat-mdc-header-cell  {
    text-align: center;
}

/* Centrar el contenido del sort header (texto + flecha) */
::ng-deep .table-global .mat-column-name .mat-sort-header-container,
::ng-deep .table-global .mat-column-description .mat-sort-header-container,
::ng-deep .table-global .mat-column-vista .mat-sort-header-container,
::ng-deep .table-global .mat-column-parent .mat-sort-header-container,
::ng-deep .table-global .mat-column-icon .mat-sort-header-container {
    justify-content: center;
}

/* Centrar celdas de datos */
::ng-deep .table-global .mat-column-name.mat-mdc-cell,
::ng-deep .table-global .mat-column-description.mat-mdc-cell,
::ng-deep .table-global .mat-column-vista.mat-mdc-cell,
::ng-deep .table-global .mat-column-parent.mat-mdc-cell,
::ng-deep .table-global .mat-column-icon.mat-mdc-cell {
    text-align: center;
}