<div class="page-header">
  <h2 class="page-title">Generar entregables  de nómina.</h2>
</div>

    <h3>Instrucciones:</h3>
    <h5>Haga click en el boton correspondiente para generar el archivo CSV.</h5>
    
<div>
    <h3>1. Anexo V.</h3>
    <button (click)="descargarCSV()">Descargar CSV de Nomina</button>
</div>

<div>
    <h3>2. Anexo VI.</h3>
    <button (click)="descargarCSV()">Descargar CSV de Nomina</button>
</div>

<div>
    <h3>3. Anexo VII.</h3>
    <button (click)="descargarCSV()">Descargar CSV de Nomina</button>
</div>

<div>
    <h3>4. Anexo VIII.</h3>
    <button (click)="descargarCSV()">Descargar CSV de Nomina</button>
</div>
