.qna-compact {
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 8px;
}

.qna-compact .mat-mdc-form-field-infix {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  min-height: unset !important;
}