/* Dialog structure */
.dialog-shell {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}


.dialog-header {
  position: relative;
  background: var(--brand);
  color: #fff;
  padding: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.dialog-content {
  padding: 10px 18px 0 18px;
  text-align: center;
}

.dialog-close {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  color: #fff;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}


:host ::ng-deep .qna-compact .mat-mdc-form-field-infix {
    min-height: 40px !important;
    display: flex;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

:host ::ng-deep .qna-compact .mat-mdc-text-field-wrapper {
    height: 40px !important;
    display: flex;
    align-items: center;
}

:host ::ng-deep .qna-compact input.mat-mdc-input-element {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}