<div class="page-header">
  <h2 class="page-title">Cálculo nómina</h2>
</div>

    <div class="actions-row">
        <button
            mat-raised-button
            class = "btn"
            (click)="executePayrollProcess()"
            [disabled]="processing">

            <ng-container *ngIf="!processing">
                Ejecutar Cálculo Nómina
            </ng-container>

            <ng-container *ngIf="processing">
            <mat-progress-spinner
                diameter="20"
                mode="indeterminate"
                strokeWidth="3">
            </mat-progress-spinner>
            Procesando...
            </ng-container>
        </button>

          <button
                mat-raised-button
                class="btn"
                (click)="downloadCsv()"
                [disabled]="!deliverableReady || processing">
                Descargar CSV
            </button>
    </div>

    <div class="calculo-scroll">
   <div class="process-steps" *ngIf="processing || progress === 100">
        <mat-vertical-stepper [selectedIndex]="currentStepIndex" linear>
            <mat-step *ngFor="let step of steps; let i = index" [completed]="progress >= step.progress">

                <ng-template matStepLabel>
                    {{ step.label }}
                </ng-template>

                <div class="step-content">
                    <ng-container *ngIf="progress < step.progress">
                        <mat-progress-spinner
                            diameter="25"
                            mode="indeterminate"
                            strokeWidth="3">
                        </mat-progress-spinner>
                            Ejecutando...
                    </ng-container>

                    <ng-container *ngIf="progress >= step.progress">
                        ✔ Completado
                    </ng-container>
                </div>

            </mat-step>
        </mat-vertical-stepper>
    </div>
    </div>
