header.navbar {
  background-color: #491D2A !important;
  color: #fff;
  height: 64px;                 /* altura fija */
  min-height: 64px;             /* garantiza mínimo */
  z-index: 1030;
  border-bottom: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
  display: flex;                /* asegura centrado vertical */
  align-items: center;
}

.navbar-brand { 
  color: #fff !important; 
}

.navbar-brand .brand-logo {
  height: 32px;           /* mismo alto que quieres para alinear con el texto */
  width: auto;
  display: inline-block;
  object-fit: contain;
}

.navbar-brand .brand-title {
  display: inline-flex;    /* asegura alineación vertical perfecta */
  align-items: center;
  color: #fff;
}

/* Resto */
.nav .nav-link { 
  color: #fff !important; 
  opacity: .9; 
}

.nav .nav-link.active, 
.nav .nav-link:hover { 
  color: #fff !important; 
  opacity: 1; 
}

.btn.btn-link { 
  color: #fff !important; 
  opacity: .85; 
}

.btn.btn-link:hover { 
  opacity: 1; 
}