<div class="page-container">
  <div class="page-header"> 
    <h2 class="page-title">Registro beneficiarios de pensión alimenticia</h2>
  </div>

  <div class="section-divider"></div>

  <div class="actions-right">
    <div class="btn-group">
      <button class="btn btn-danger" (click)="clearSearch()">
        <mat-icon>delete_outline</mat-icon>
        <span>Limpiar</span>
      </button>
    </div>
    <button class="btn btn-primary" (click)="searchEmployee()">
      <mat-icon>search</mat-icon>
      <span>Buscar</span>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="saveEmployee()">
    <div class="global-search">
      <mat-form-field appearance="outline" class="qna-compact search-field with-separator" floatLabel="always">
        <mat-icon matPrefix>search</mat-icon>
          <mat-label>Buscar (CURP, RFC, Empleado)</mat-label>
            <input matInput
              id="buscarEmpleado"
              formControlName="searchText"
              [matAutocomplete]="auto"
              #autocompleteTrigger="matAutocompleteTrigger"
              (input)="onSearchInputChange()"
              appUppercase
              (keydown.enter)="$event.preventDefault(); searchEmployee()">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee" (optionSelected)="onOptionSelected($event.option.value)">
          <mat-option *ngFor="let emp of resultados" [value]="emp"> {{ emp?.rfc || '—' }} · {{ emp?.curp || '—' }} · {{ emp?.nombreCompleto || '—' }} </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div *ngIf="empleadoId !== null" class="employee-percent-box">
        <div class="employee-percent">
          Disponible: <strong>{{ porcentajeDisponible }}%</strong>
        </div>
      </div>
    </div>

  <div class="section-divider"></div>
  
    <div class="section-header">
      <h3>Agregar Beneficiaria(o)</h3>
    </div>

    <div class="btn-group">
      <button class="btn btn-success" type="submit" [disabled]="guardando">
        <mat-icon>save</mat-icon>  
        <span>Guardar</span> 
      </button>
    </div>

    <mat-card class="form-card">
      <mat-card-content class="form-layout">

        <!-- Numero de oficio -->
        <div class="row row-oficio">
          <div class="field-break">
              <mat-form-field appearance="outline" class="with-separator compact-field qna-compact" floatLabel="always">
                <mat-icon matPrefix>description</mat-icon>
                <mat-label>No. de oficio*</mat-label>
                  <input matInput id="numeroOficio" formControlName="numeroOficio" placeholder="Número de oficio" type="text" appUppercase/>
                <mat-hint>Este número debe ser capturado manualmente.</mat-hint>
            </mat-form-field>
          </div>

          <!-- Concepto 07  -->
          <div class="checkbox-container">
            <label class="checkbox-label">Aplicar al concepto 07</label>
              <mat-checkbox (change)="onAplicarDescuentoChange()"></mat-checkbox>
          </div>

          <!-- Monto del 07  -->
          <div class="monto-container">
            <div class="checkbox-container">
              <label class="checkbox-label">Ingresar monto</label>
              <mat-checkbox formControlName="aplicarDescuento" (change)="onAplicarDescuentoChange()"></mat-checkbox>
            </div>

            <mat-form-field *ngIf="form.get('aplicarDescuento')?.value"
              class="with-separator compact-field qna-compact monto-field"
              appearance="outline" floatLabel="always">
              <mat-label>Monto total</mat-label>
              <input matInput type="number" formControlName="montoTotal">
              <mat-error *ngIf="f['montoTotal']?.invalid">Captura un monto válido</mat-error>
            </mat-form-field>
          </div>

          <!-- Aplicar descuento de aguinaldo  -->
          <section class="toggle-container">
            <label class="toggle-label">Aplicar descuento a aguinaldo</label>
            <mat-slide-toggle formControlName="aplicarDescuentoAguinaldo" class="with-separator compact-field qna-compact"></mat-slide-toggle>
          </section>
        </div>

        <div class="row row-4">
          <!-- RFC -->
          <div>
              <mat-form-field appearance="outline" class="with-separator compact-field qna-compact" floatLabel="always">
                <mat-icon matPrefix>badge</mat-icon>
                <mat-label>RFC referencial*</mat-label>
                  <input matInput id="rfc" name="rfc" formControlName="rfc" placeholder="RFC" required maxlength="13" appUppercase/>
                <mat-error *ngIf="f['rfc']?.invalid && f['rfc']?.touched"> El RFC debe contener exactamente 13 caracteres.</mat-error>
              </mat-form-field>
          </div>
          
          <!-- Apellido paterno -->
          <div class="span-1">
              <mat-form-field appearance="outline" class="with-separator compact-field qna-compact" floatLabel="always">
                <mat-icon matPrefix>person</mat-icon>
                <mat-label>Apellido paterno*</mat-label>
                  <input matInput id="apellidoPaterno" name="apellidoPaterno" formControlName="apellidoPaterno" appSoloLetras appUppercase placeholder="Apellido paterno" required minlength="2" />
                <mat-error *ngIf="f['apellidoPaterno']?.invalid && f['apellidoPaterno']?.touched"> Ingresa el apellido paterno (mín. 2 caracteres). </mat-error>
              </mat-form-field>
          </div>

          <!-- Apellido materno -->
          <div>
            <mat-form-field appearance="outline" class="with-separator compact-field qna-compact" floatLabel="always">
              <mat-icon matPrefix>person</mat-icon>
              <mat-label>Apellido materno*</mat-label>
                <input matInput id="apellidoMaterno" name="apellidoMaterno" formControlName="apellidoMaterno" appSoloLetras appUppercase placeholder="Apellido materno" required minlength="2" />
              <mat-error *ngIf="f['apellidoMaterno']?.invalid && f['apellidoMaterno']?.touched"> Ingresa el apellido materno (mín. 2 caracteres). </mat-error>
            </mat-form-field>
          </div>

          <!-- Nombre completo -->
          <div>
              <mat-form-field appearance="outline" class="with-separator compact-field qna-compact" floatLabel="always">
                <mat-icon matPrefix>person</mat-icon>
                <mat-label>Nombre(s)*</mat-label>
                  <input matInput id="nombreCompleto" name="nombreCompleto" formControlName="nombreCompleto" appSoloLetras appUppercase placeholder="Nombre(s)" required minlength="2" />
                <mat-error *ngIf="f['nombreCompleto']?.invalid && f['nombreCompleto']?.touched"> Ingresa el nombre (mín. 2 caracteres). </mat-error>
              </mat-form-field>
          </div>
        </div>


        <div class="row row-4">
            <!-- Forma de aplicación -->
            <mat-form-field appearance="outline" class="with-separator compact-field  qna-compact" floatLabel="always">
              <mat-icon matPrefix>tune</mat-icon>
              <mat-label>Forma de aplicación*</mat-label>
              <mat-select
                  id="formaAplicacion"
                  name="formaAplicacion"
                  placeholder="Seleccionar forma"
                  formControlName="formaAplicacion"
                  (selectionChange)="onFormaChange()"
                  required>
                <mat-option value="P">Factor</mat-option>
                <mat-option value="C">Importe fijo</mat-option>
              </mat-select>
              <mat-error *ngIf="f['formaAplicacion']?.invalid && f['formaAplicacion']?.touched">Selecciona la forma de aplicación. </mat-error>
            </mat-form-field>

            <!-- Factor / Importe -->
            <div>
              <mat-form-field appearance="outline" class="with-separator compact-field qna-compact" floatLabel="always">
                <mat-icon matPrefix> {{ form.get('formaAplicacion')?.value === 'P' ? 'percent' : 'attach_money' }}</mat-icon>
                <mat-label>Factor / Importe*</mat-label>
                  <input
                    matInput
                    id="factorImporte"
                    name="factorImporte"
                    [type]="form.get('formaAplicacion')?.value === 'P' ? 'text' : 'number'"
                    formControlName="factorImporte"
                    [placeholder]="form.get('formaAplicacion')?.value === 'P' ? '0 – 100%' : 'Ingrese importe'"
                    [attr.maxlength]="form.get('formaAplicacion')?.value === 'P' ? 3 : null"
                    (input)="onFactorImporteInput()"
                    required />
                    <mat-hint *ngIf="form.get('formaAplicacion')?.value === 'P'  && form.get('factorImporte')?.value">
                      Equivale a: {{ (form.get('factorImporte')?.value / 100) | number:'1.2-4' }}
                    </mat-hint>
                <mat-error *ngIf="form.get('factorImporte')?.invalid && form.get('factorImporte')?.touched">Ingresa un valor válido. </mat-error>
              </mat-form-field>
            </div>

            <!-- Banco -->
            <mat-form-field appearance="outline" class="with-separator compact-field qna-compact" floatLabel="always">
              <mat-icon matPrefix>account_balance</mat-icon>
              <mat-label>Buscar banco</mat-label>
              <mat-select id="bancoSeleccionado" name="bancoSeleccionado" placeholder="Seleccionar banco" formControlName="bancoSeleccionado">
                <mat-option *ngFor="let bank of bancos" [value]="bank.id"> {{ bank.banco }} </mat-option>
              </mat-select>
              <mat-error *ngIf="f['bancoSeleccionado']?.invalid && f['bancoSeleccionado']?.touched"> Selecciona un banco. </mat-error>
            </mat-form-field>

            <!-- CLABE -->
            <mat-form-field appearance="outline" class="with-separator compact-field qna-compact" floatLabel="always">
                <mat-icon matPrefix>credit_card</mat-icon>
                <mat-label>Clabe interbancaria</mat-label>
                  <input matInput id="numeroDocumento" name="numeroDocumento" type="text" formControlName="numeroDocumento" placeholder="18 dígitos" maxlength="18" pattern="^\d{18}$" />
                <mat-error *ngIf="f['numeroDocumento']?.invalid && f['numeroDocumento']?.touched"> La CLABE debe tener exactamente 18 dígitos numéricos. </mat-error>
            </mat-form-field>
        </div>

        <!-- Inicio -->
        <div class="row row-single">
          <div>
            <mat-form-field appearance="outline" class="with-separator compact-field qna-compact" floatLabel="always">
              <mat-icon matPrefix>calendar_today</mat-icon>
              <mat-label>Inicio*</mat-label>
                <input matInput id="vigenciaInicio" name="vigenciaInicio" type="text" formControlName="vigenciaInicio" placeholder="AAAAQQ" required maxlength="6" pattern="^\d{6}$" (input)="onVigenciaInput('inicio')" />
              <mat-error *ngIf="f['vigenciaInicio']?.invalid && f['vigenciaInicio']?.touched"> Captura la vigencia de inicio, debe de ser menor a 6 dígitos. </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
