<div class="page-header">
  <h2 class="page-title">Nómina ordinaria</h2>
</div>

  <div class="actions-right">
    <button matButton="filled" class="btn-descarga-csv">Descraga CSV.</button>
  </div>

<div class="table-container">
  <div class="table-card card" [class.is-loading]="false">
    <div *ngIf="dataSource.data.length === 0" class="empty">
      No hay datos para el año {{ anioSeleccionado }} y quincena
      {{ quincenaSeleccionada.toString().padStart(2, '0') }}
    </div>

    <div class="table-scroll" *ngIf="dataSource.data.length > 0">
      <table mat-table [dataSource]="dataSource" class="nomina-table">


          <!-- ID -->
          <ng-container matColumnDef="empleadoId">
            <th mat-header-cell *matHeaderCellDef>ID Empleado</th>
            <td mat-cell *matCellDef="let e">{{ e.empleadoId }}</td>
          </ng-container>

          <!-- Nombre -->
          <ng-container matColumnDef="nombreEmpleado">
            <th mat-header-cell *matHeaderCellDef>Nombre Empleado</th>
            <td mat-cell *matCellDef="let e">{{ e.nombreEmpleado }}</td>
          </ng-container>

          <!-- QNA -->
          <ng-container matColumnDef="qnaProceso">
            <th mat-header-cell *matHeaderCellDef>
              QNA
              <div class="qna-filters-row">
                <mat-form-field appearance="outline" class="qna-field">
                  <mat-label>Quincena</mat-label>
                  <mat-select [(ngModel)]="quincenaSeleccionada" (selectionChange)="onQuincenaChange()">
                    <mat-option *ngFor="let q of quincenas" [value]="q">
                      {{ q.toString().padStart(2,'0') }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="qna-field">
                  <mat-label>Año</mat-label>
                  <mat-select [(ngModel)]="anioSeleccionado" (selectionChange)="onAnioChange()">
                    <mat-option *ngFor="let anio of anios" [value]="anio">
                      {{ anio }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let e">{{ e.qnaProceso }}</td>
          </ng-container>

          <!-- Nivel -->
          <ng-container matColumnDef="nivelSueldo">
            <th mat-header-cell *matHeaderCellDef>Nivel Sueldo</th>
            <td mat-cell *matCellDef="let e">{{ e.nivelSueldo }}</td>
          </ng-container>

          <!-- Concepto -->
          <ng-container matColumnDef="concepto">
            <th mat-header-cell *matHeaderCellDef>Concepto</th>
            <td mat-cell *matCellDef="let e">{{ e.concepto }}</td>
          </ng-container>

          <!-- Tipo -->
          <ng-container matColumnDef="tipoConcepto">
            <th mat-header-cell *matHeaderCellDef>Tipo Concepto</th>
            <td mat-cell *matCellDef="let e">{{ e.tipoConcepto }}</td>
          </ng-container>

          <!-- Importe -->
          <ng-container matColumnDef="totalImporteQnal">
            <th mat-header-cell *matHeaderCellDef>Importe Total</th>
            <td mat-cell *matCellDef="let e">
              {{ e.totalImporteQnal | number:'1.2-2' }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

    <div class="table-footer">
      <mat-paginator
        [length]="totalElements"
        [pageSize]="50"
        [pageSizeOptions]="[50, 100, 150, 200]"
        showFirstLastButtons
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
