<div class="dialog-shell">
    <div class="dialog-header dlg-bar">
      <button mat-icon-button class="dialog-close" (click)="cerrar()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-dialog-content [formGroup]="form" class="dlg-content">
        <div class="dlg-bar-title">Editar Tercero institucional</div>

        <div class="section-divider"></div>

        <div class="form-grid">
            <div class="nam-row span-3">
                <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
                    <mat-label>RFC*</mat-label>
                    <mat-icon matPrefix>badge</mat-icon>
                    <input matInput formControlName="rfc" class="uppercase-input">
                </mat-form-field>
            </div>

            <div class="name-row span-3">
                <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
                    <mat-label>Apellido paterno*</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput formControlName="apellidoPaterno" class="uppercase-input">
                </mat-form-field>

                <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
                    <mat-label>Apellido materno*</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput formControlName="apellidoMaterno" class="uppercase-input">
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
                    <mat-label>Nombres</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput formControlName="nombres" class="uppercase-input">
                </mat-form-field>
            </div>

            <div class="orden-concepto-row">
                <mat-form-field appearance="outline" class="login-field compact-field with-separator orden-field" floatLabel="always">
                    <mat-label>Orden*</mat-label>
                    <mat-icon matPrefix>reorder</mat-icon>
                        <mat-select formControlName="tipoOrden">
                            <mat-option *ngFor="let t of tipoOrdenOptions" [value]="t.value"> {{ t.label }} </mat-option>
                        </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
                    <mat-label>Concepto seleccionado</mat-label>
                    <mat-icon matPrefix>info</mat-icon>
                    <input
                        matInput
                        [value]="form.value?.concepto ? (form.value.concepto.cve + ' - ' + form.value.concepto.descripcion) : ''"
                        readonly>
                </mat-form-field>

                <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
                    <mat-label>Importe mensual*</mat-label>
                    <mat-icon matPrefix>payments</mat-icon>
                    <input matInput formControlName="importeMensual" inputmode="decimal">
                    <mat-error *ngIf="form.get('importeMensual')?.hasError('required')">El importe mensual es requerido </mat-error>
                </mat-form-field>
            </div>

            <div class="datetime-row span-3">
                <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
                    <mat-label>Desde*</mat-label>
                    <mat-icon matPrefix>calendar_today</mat-icon>
                    <input matInput formControlName="qnaDesde" readonly>
                    <mat-error *ngIf="form.hasError('qnaMenorActual')">No puede ser menor a la quincena actual</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
                    <mat-label>Hasta*</mat-label>
                    <mat-icon matPrefix>calendar_today</mat-icon>
                    <input matInput formControlName="qnaHasta" maxlength="6"  pattern="[0-9]*">
                        <mat-error *ngIf="form.hasError('qnaMenorActual')">No puede ser menor a la quincena actual</mat-error>
                        <mat-error *ngIf="form.hasError('rangoInvalido')"> La QNA final no puede ser menor que la inicial</mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>

    <div class="dlg-actions">
        <button class="btn btn-primary" (click)="guardar()">Guardar</button>
        <button class="btn btn-danger" (click)="cerrar()">Cancelar</button>
    </div>
</div>
