<h2 mat-dialog-title>Empleado: {{data.nombreEmpleado}}</h2>

<div class="table-card card">

  <!-- Info del empleado -->
  <div class="employee-info">
    <div class="employee-field">
      <span class="label">CURP:</span>
      <span class="value">{{ data.curp }}</span>
    </div>
    <div class="employee-field">
      <span class="label">RFC:</span>
      <span class="value">{{ data.rfc }}</span>
    </div>
    <div class="employee-field">
      <span class="label">QNA:</span>
      <span class="value">{{ data.qnaTexto }}</span>
    </div>
  </div>

  <!-- Tabla con scroll -->
  <div class="table-scroll content">
    <table mat-table [dataSource]="data.detalles" class="nomina-table full">

      <ng-container matColumnDef="tipoConcepto">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let d">{{ d.tipoConcepto }}</td>
      </ng-container>

      <ng-container matColumnDef="concepto">
        <th mat-header-cell *matHeaderCellDef>Concepto</th>
        <td mat-cell *matCellDef="let d">{{ d.concepto }}</td>
      </ng-container>

       <ng-container matColumnDef="noComprobante">
        <th mat-header-cell *matHeaderCellDef>No. Comprobante</th>
        <td mat-cell *matCellDef="let d">{{ d.noComprobante }}</td>
      </ng-container>

      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef>Importe</th>
        <td mat-cell *matCellDef="let d">{{ d.importe | number:'1.2-2' }}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
    </table>
  </div>

  <!-- Footer con total -->
  <div class="table-footer">
    <div class="total-row">
      <span>Total $:</span>
      <strong>${{ totalImporte | number:'1.2-2' }}</strong>
    </div>
    <button mat-button (click)="close()">Cerrar</button>
  </div>

</div>
