<div class="page-container">
    <div class="page-header">
        <h2 class="page-title">Beneficiarios de jucios mercantiles</h2>
    </div>

    <div class="section-divider"></div>

    <div *ngIf="form" [formGroup]="form">
    <div class="section-header">
        <h3>Buscar empleado.</h3>
        <div class="search-actions">
        <button mat-stroked-button class="btn-outline" (click)="clearFilters()">
            Limpiar
        </button>
        <button mat-flat-button class="btn-primary" (click)="buscarEmpleado()">
            Buscar
        </button>
        </div>
    </div>

    <!-- Buscar empleado  -->
    <div *ngIf="form" [formGroup]="form">
    <div formGroupName="busqueda" class="search-card">
        <mat-form-field appearance="outline" class="login-field with-separator search-input" floatLabel="always">
        <mat-icon matPrefix>search</mat-icon>
        <input
            matInput
            id="buscarEmpleado"
            formControlName="searchText"
            [matAutocomplete]="auto"
            #autocompleteTrigger="matAutocompleteTrigger" 
            (keydown.enter)="$event.preventDefault(); buscarEmpleado()"
            placeholder="BUSCAR POR RFC, PRIMER APELLIDO, SEGUNDO APELLIDO O POR NOMBRE">

        <mat-autocomplete #auto="matAutocomplete" 
                          (optionSelected)="empleadoSeleccionado($event.option.value)"
                          [displayWith]="displayEmpleado">
            <mat-option *ngFor="let emp of resultado" [value]="emp">
                {{ emp?.rfc || '—' }} · 
                {{ emp?.primerApellido || '—' }} ·  
                {{ emp?.segundoApellido || '—' }} · 
                {{ emp?.nombre || '—' }}
            </mat-option>

        </mat-autocomplete>
        </mat-form-field>
    </div>

    <div class="search-card form-gri" formGroupName="empleado">
        <div>
            <label class="field-title">Apellido paterno*</label>
            <mat-form-field appearance="outline" class="login-field with-separator">
            <mat-icon matPrefix>person</mat-icon>
            <input matInput formControlName="primerApellido" readonly placeholder="Ingresar Apellido Paterno">
            </mat-form-field>
        </div>

        <div>
            <label class="field-title">Apellido materno*</label>
            <mat-form-field appearance="outline" class="login-field with-separator">
            <mat-icon matPrefix>person</mat-icon>
            <input matInput formControlName="segundoApellido" readonly placeholder="Ingresar Apellido Materno">
            </mat-form-field>
        </div>

        <div>
            <label class="field-title">Nombre(s)*</label>
            <mat-form-field appearance="outline" class="login-field with-separator">
            <mat-icon matPrefix>person</mat-icon>
            <input matInput formControlName="nombre" readonly placeholder="Ingresar Nombre Completo">
            </mat-form-field>
        </div>
    </div>

    <div class="section-divider"></div>

    <!-- Agregar beneficiario -->
    <div class="section-header">
        <h3>Agregar Beneficiario</h3>
        <button mat-flat-button class="btn-component" type="button" (click)="guardar()">Guardar</button>
    </div>

    <div *ngIf="form" [formGroup]="form">
        <div formGroupName="beneficiario">
            <mat-card class="form-card">
                <mat-card-content class="form-grid">
                    <!-- RFC -->
                    <div class="span-3">
                        <label class="field-title" for="rfc">RFC*</label>
                            <mat-form-field appearance="outline" class="login-field with-separator" floatLabel="always">

                                <mat-icon matPrefix>badge</mat-icon>

                                <input matInput formControlName="rfc" maxlength="13" placeholder="Ingresar RFC del beneficiario"/>

                                <mat-error *ngIf="form.get('beneficiario.rfc')?.invalid && form.get('beneficiario.rfc')?.touched"> RFC inválido</mat-error>
                            </mat-form-field>
                    </div>

                    <!-- Apellido Paterno -->
                    <div>
                        <label class="field-title" for="primerApellido">Apellido paterno*</label>
                            <mat-form-field appearance="outline" class="login-field with-separator" floatLabel="always">
                            
                                <mat-icon matPrefix>person</mat-icon>
                                
                                <input matInput formControlName="primerApellido" placeholder="Ingresar Apellido Paterno"/>

                                <mat-error *ngIf="form.get('beneficiario.primerApellido')?.invalid && (form.get('primerApellido')?.touched)"> Ingresa el apellido paterno (mín. 2 caracteres). </mat-error>
                            </mat-form-field>
                    </div>

                    <!-- Apellido Materno -->
                    <div>
                        <label class="field-title">Apellido materno*</label>
                            <mat-form-field appearance="outline" class="login-field with-separator" floatLabel="always">
                                
                                <mat-icon matPrefix>person</mat-icon>
                                
                                <input matInput formControlName="segundoApellido" placeholder="Ingresar Apellido Materno"/>

                                <mat-error *ngIf="form.get('beneficiario.segundoApellido')?.invalid && (form.get('segundoApellido')?.touched)"> Ingresa el apellido materno (mín. 2 caracteres). </mat-error>
                            </mat-form-field>
                    </div>

                    <!-- Nombre Completo -->
                    <div>
                        <label class="field-title">Nombre(s)*</label>
                            <mat-form-field appearance="outline" class="login-field with-separator" floatLabel="always">
                                
                                <mat-icon matPrefix>person</mat-icon>
                                
                                <input matInput formControlName="nombre" placeholder="Ingresar Nombre Completo" />

                                <mat-error *ngIf="form.get('beneficiario.nombre')?.invalid && (form.get('nombre')?.touched)"> Ingresa el nombre (mín. 2 caracteres). </mat-error>
                            </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
         </div>

            <mat-card class="form-card" formGroupName="descuento">
                <mat-card-content class="form-grid">
                    <!-- Importe total -->
                    <div>
                        <label class="field-title">Importe total que se le debe de pagar*</label>
                        <mat-form-field appearance="outline" class="login-field with-separator" floatLabel="always">

                            <mat-icon matPrefix>attach_money</mat-icon>

                            <input matInput formControlName="importeTotal" type="number" placeholder="Ingresar importe total"/>

                            <mat-error *ngIf="form.get('importeTotal')?.invalid && (form.get('importeTotal')?.touched)"> Captura un importe válido (>= 0). </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Cita bancaria -->
                    <div>
                        <label class="field-title">Cita bancaria*</label>
                        <mat-form-field appearance="outline" class="login-field with-separator" floatLabel="always">

                            <mat-icon matPrefix>receipt_long</mat-icon>

                            <input matInput formControlName="citaBancaria" placeholder="Ingresar Cita Bancaria"/>

                            <mat-error *ngIf="form.get('citaBancaria')?.invalid && (form.get('citaBancaria')?.touched)"> Captura la cita bancaria. </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid-empty"></div>

                    <!-- Forma de aplicación -->
                    <div>
                        <label class="field-title" for="formaAplicacion">Forma de aplicación*</label>
                        <mat-form-field appearance="outline" class="login-field with-separator full-width" floatLabel="always">
                                <mat-icon matPrefix>tune</mat-icon>
                                    <mat-select formControlName="formaAplicacion" placeholder="Seleccionar forma">
                                        <mat-option value="P">Factor</mat-option>
                                        <mat-option value="C">Importe fijo</mat-option>
                                    </mat-select>
                            </mat-form-field>
                    </div>

                     <!-- Factor / Importe -->
                    <div>
                        <label class="field-title" for="factorImporte">Factor / Importe*</label>
                        <mat-form-field appearance="outline" class="login-field with-separator" floatLabel="always">
                            <mat-icon matPrefix>{{ formaAplicacion === 'P' ? 'percent' : 'attach_money' }}</mat-icon>
                            
                            <input
                            matInput
                            id="factorImporte"
                            formControlName="factorImporte"
                            [type]="formaAplicacion === 'P' ? 'text' : 'number'"
                            [attr.maxlength]="formaAplicacion === 'P' ? 3 : null"
                            placeholder="Ingresar cantidad"
                            (input)="onFactorImporteInput()" />

                            <mat-error *ngIf="form.get('factorImporte')?.invalid && (form.get('factorImporte')?.touched)">Campo obligatorio</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid-empty"></div>

                    <!-- Banco -->
                    <div>
                        <label class="field-title" for="bancoId">Buscar banco*</label>
                        <mat-form-field appearance="outline" class="login-field with-separator full-width" floatLabel="always">
                            <mat-icon matPrefix>account_balance</mat-icon>

                            <mat-select id="bancoId" formControlName="bancoId" required placeholder="Seleccionar banco">

                            <mat-option *ngFor="let bank of bancos" [value]="bank.id">{{ bank.banco }}</mat-option>

                            </mat-select>
                            <mat-error *ngIf="form.get('bancoId')?.invalid && (form.get('bancoId')?.touched)"> Selecciona un banco. </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- CLABE -->
                    <div>
                        <label class="field-title" for="clabe">CLABE interbancaria*</label>
                        <mat-form-field appearance="outline" class="login-field with-separator" floatLabel="always">

                            <mat-icon matPrefix>credit_card</mat-icon>

                            <input matInput id="clabe" formControlName="clabe" placeholder="18 dígitos" maxlength="18" />

                            <mat-error *ngIf="form.get('clabe')?.invalid && (form.get('clabe')?.touched)"> La CLABE debe tener exactamente 18 dígitos numéricos.</mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
    </div>

    <div class="section-divider"></div>

    <!-- VIGENCIA -->
    <div class="section-header">
      <h3>Vigencia de movimiento.</h3>
    </div>

    
    <div *ngIf="form" [formGroup]="form">
    <mat-card class="form-card" formGroupName="vigencia">
        <mat-card-content class="form-grid vigencia-grid">
            <div>
            <label class="field-title" for="vigenciaInicio">Inicio*</label>
            <mat-form-field appearance="outline" class="login-field with-separator" floatLabel="always">
                <mat-icon matPrefix>calendar_today</mat-icon>
                <input matInput id="vigenciaInicio" formControlName="inicio" placeholder="AAAAQQ" maxlength="6"
                    (input)="onVigenciaInput('inicio')" />
                <mat-error *ngIf="form.get('inicio')?.invalid && (form.get('inicio')?.touched)">
                Captura la vigencia de inicio en formato AAAAQQ.
                </mat-error>
            </mat-form-field>
            </div>

            <div>
            <label class="field-title" for="vigenciaFin">Hasta*</label>
            <mat-form-field appearance="outline" class="login-field with-separator" floatLabel="always">
                <mat-icon matPrefix>calendar_today</mat-icon>
                <input matInput id="vigenciaFin" formControlName="fin" placeholder="AAAAQQ" maxlength="6"
                    (input)="onVigenciaInput('fin')" />
                <mat-error *ngIf="form.get('fin')?.invalid && (form.get('fin')?.touched)">
                Captura la vigencia de fin en formato AAAAQQ.
                </mat-error>
            </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>


    
