<div class="page-container">
    <div class="page-header">
        <h2 class="page-title">Gestion de roles</h2>
    </div>

    <div class="section-divider"></div>

    <div class="actions-right">
        <div class="btn-group">
            <button class="btn btn-success" type="button" (click)="openAltaRoleDialog()">
                <mat-icon>add</mat-icon>
                <span>Agregar</span>
            </button>
        </div>
    </div>

    <div class="table-layout">
        <div class="table-section">
            <div class="table-card card">
                <div class="table-content">
                    <div class="table-scroll">
                        <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" (matSortChange)="onSortChange($event)" class="table-global">

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header = "id"> ID </th>
                                <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
                            </ng-container>

                            <ng-container matColumnDef="rol">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header = "name"> ROL </th>
                                <td mat-cell *matCellDef="let row" class="rol-cell"> 
                                    {{ row.name }} 
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="padre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header = "modulesName"> MÓDULOS </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="getRoleModules(row).length; else noModules">
                                        <div *ngFor="let module of getRoleModules(row)">{{ module }}</div>
                                    </ng-container>
                                    <ng-template #noModules>Sin módulos</ng-template>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
                                <td mat-cell *matCellDef="let row"> 
                                    <button class="btnn btn-succes" type="button" (click)="openEditRoleDialog(row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button class="btnn btn-dangerr" type="button" (click)="softDeleteRole(row)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button> </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>

                    </div>
                    <div class="table-footer">
                        <mat-paginator
                            [length]="totalRoles"
                            [pageSize]="pageSize"
                            [pageIndex]="pageIndex"
                            [pageSizeOptions]="[5,10,25,50]"
                            showFirstLastButtons
                            (page)="onPageChange($event)">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
