<div class="page-container">
    <div class="page-header">
        <h2 class="page-title">Información de juicios mercantiles</h2>
    </div>

    <div class="section-divider"></div>

    <div class="section-header span-3">
        <h3>Filtros.</h3>
    </div>

    <div class="actions-right">
        <div class="btn-group">
            <button class="btn btn-primary">
                <mat-icon>task_alt</mat-icon>
                    <span>Buscar</span>
            </button>
        </div>

        <button class="btn btn-danger">
            <mat-icon>delete_outline</mat-icon>
                <span>Limpiar</span>
        </button>
    </div>

    <div [formGroup]="searchForm" class="global-search">
        <mat-form-field appearance="outline" class="with-separator qna-compact search-field" floatLabel="always">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Buscar (CURP, RFC, Empleado)</mat-label>
            <input matInput id="buscarEmpleado" formControlName="searchText" appUppercase>
        </mat-form-field>
    </div>


<div class="table-container">
    <div class="table-card card">
        <div class="table-content">
            <div class="table-scroll">
                <table mat-table [dataSource]="dataSource" class="table-global">
                    
                    <ng-container matColumnDef="nombreEmpleado">
                        <th mat-header-cell *matHeaderCellDef>NOMBRE EMPLEADO</th>
                        <td mat-cell *matCellDef="let e"> 
                            <span *ngIf="e.showEmpleado">{{ e.nombreEmpleado }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="rfc">
                        <th mat-header-cell *matHeaderCellDef>RFC</th>
                        <td mat-cell *matCellDef="let e">  
                            <span *ngIf="e.showEmpleado">{{ e.rfcEmpleado }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nombreCompleto">
                        <th mat-header-cell *matHeaderCellDef>NOMBRE COMPLETO</th>
                        <td mat-cell *matCellDef="let e">{{ e.nombreCompleto }}</td>
                    </ng-container>

                    <ng-container matColumnDef="qnaProceso">
                        <th mat-header-cell *matHeaderCellDef>QNA A DESCONTAR</th>
                        <td mat-cell *matCellDef="let e">{{ e.qnaini }} - {{ e.qnafin }}</td>
                    </ng-container>

                    <ng-container matColumnDef="citaBancaria">
                        <th mat-header-cell *matHeaderCellDef>CITA BANCARIA</th>
                        <td mat-cell *matCellDef="let e">{{ e.numeroDocumento }}</td>
                    </ng-container>

                    <ng-container matColumnDef="formaAplicacion">
                        <th mat-header-cell *matHeaderCellDef>FORMA DE APLICACIÓN</th>
                        <td mat-cell *matCellDef="let e">{{ e.formaAplicacion }}</td>
                    </ng-container>

                    <ng-container matColumnDef="importeTotal">
                        <th mat-header-cell *matHeaderCellDef>IMPORTE A PAGAR</th>
                        <td mat-cell *matCellDef="let e">{{ e.importeTotal | currency:'MXN':'symbol':'1.0-2' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="restoPagar">
                        <th mat-header-cell *matHeaderCellDef>RESTO A PAGAR</th>
                        <td mat-cell *matCellDef="let e">{{ e.restoPagar | currency:'MXN':'symbol':'1.0-2' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>ESTATUS</th>
                        <td mat-cell *matCellDef="let e">{{ e.status }}</td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                        <td mat-cell *matCellDef="let e">
                            <button mat-button color="primary"
                                (click)="openEditDialog(e)"
                                [disabled]="e.status === 'INACTIVO'"
                                matTooltip="Editar"
                                [matTooltipDisabled]="e.status === 'INACTIVO'">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.inactive-row]="row?.status === 'INACTIVO'"></tr>

                    <tr class="mat-row" *matNoDataRow [class.hidden]="!hasCheck">
                        <td class="mat-cell no-data-cell" [attr.colspan]="displayedColumns.length">
                            SIN BENEFICIARIOS REGISTRADOS
                        </td>
                    </tr>
                </table>
            </div>

            <div class="table-footer">
                <mat-paginator
                    [length]="dataSource.data.length"
                    [pageSize]="10"
                    [pageSizeOptions]="[10, 20, 50, 100]"
                    showFirstLastButtons
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
</div>