<div class="page-container">
  <div class="page-header">
        <h2 class="page-title">Información de pensiones alimenticia</h2>
  </div>

  <div class="section-divider"></div>
  
  <div class="actions-bar">
    <div class="actions-right">
      <div class="btn-group">
        <button class="btn btn-primary" (click)="buscar()">
          <mat-icon>search</mat-icon>
          <span>Buscar</span>
        </button>
      </div>
      <button class="btn btn-danger" (click)="clearFilters()">
        <mat-icon>delete_outline</mat-icon>
        <span>Limpiar</span>
      </button>
    </div>
  </div>

  <div [formGroup]="form" class="global-search">

    <mat-form-field appearance="outline" class="with-separator qna-compact search-field" floatLabel="always">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Buscar empleado (nombre o RFC)</mat-label>
        <input
          matInput
          formControlName="nombreEmpleado"
          placeholder="Nombre o RFC del empleado"
          appUppercase
          (keydown.enter)="buscar()">
    </mat-form-field>

    <div formGroupName="busqueda" class="qna-filters">
      <mat-form-field appearance="outline" class="compact-field qna-compact" floatLabel="always">
        <mat-label>Año</mat-label>
        <mat-select formControlName="anio">
          @for (anio of anios; track anio) {
            <mat-option [value]="anio">{{ anio }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="compact-field qna-compact" floatLabel="always">
        <mat-label>Quincena</mat-label>
        <mat-select formControlName="quincena">
          @for (q of quincenas; track q) {
            <mat-option [value]="q">{{ q.toString().padStart(2, '0') }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="compact-field qna-compact estado-field" floatLabel="always">
         <mat-label>Estado</mat-label>
          <mat-select formControlName="estado">
            @for (estado of estados; track estado.value){
              <mat-option [value]= "estado.value">
                {{ estado.label}}
              </mat-option>
            }
          </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="section-divider"></div>

  <div class="table-container">
    <div class="table-card">
      <div class="table-content">
        <div class="table-scroll">
          <table mat-table [dataSource]="dataSource" class="table-global">

                <ng-container matColumnDef="nombreEmpleado">
                  <th mat-header-cell *matHeaderCellDef class="col-xs col-center"> NOMBRE <br> EMPLEADO</th>
                  <td mat-cell *matCellDef="let e" class="col-xs col-center">
                    <span *ngIf="e.mostrarEmpleado">{{ e.nombreEmpleado }}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="rfcEmpleado">
                  <th mat-header-cell *matHeaderCellDef class="col-xs col-center"> RFC <br> EMPLEADO </th>
                    <td mat-cell *matCellDef="let e" class="col-xs col-center">
                      <span *ngIf="e.mostrarEmpleado"> {{ e.rfcEmpleado }} </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="nombreBeneficiario">
                  <th mat-header-cell *matHeaderCellDef class="col-xs col-center"> NOMBRE <br> BENEFICIARIO </th>
                  <td mat-cell *matCellDef="let e" class="col-xs col-center">{{ e.nombreBeneficiario }}</td>
                </ng-container>

                <ng-container matColumnDef="rfcReferencia">
                  <th mat-header-cell *matHeaderCellDef class="col-xs col-center"> RFC <br> REFERENCIA </th>
                  <td mat-cell *matCellDef="let e" class="col-xs col-center">{{ e.rfcReferencia }}</td>
                </ng-container>

                <ng-container matColumnDef="noBeneficiario">
                  <th mat-header-cell *matHeaderCellDef class="col-xs col-center">NUMERO <br> DE <br> BENEFICIARIO</th>
                  <td mat-cell *matCellDef="let e" class="col-xs col-center">{{ e.noBeneficiario }}</td>
                </ng-container>

                <ng-container matColumnDef="numeroOficio">
                  <th mat-header-cell *matHeaderCellDef class="col-xs col-center">NUMERO <br> DE <br> OFICIO</th>
                  <td mat-cell *matCellDef="let e" class="col-xs col-center">{{ e.numeroOficio }}</td>
                </ng-container>

                <ng-container matColumnDef="qna">
                  <th mat-header-cell *matHeaderCellDef class="col-xs col-center">QNA</th>
                  <td mat-cell *matCellDef="let e" class="col-xs col-center">
                    {{ e.qnaIni }} - {{ e.qnaFin === 999999 ? '999999' : e.qnaFin }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef class="col-xs col-center">ESTADO</th>
                  <td mat-cell *matCellDef="let e" class="col-xs col-center">
                    <span class="chip" 
                      [class.chip-ok]="e.estatus === 'VIGENTE'" 
                      [class.chip-off]="e.estatus === 'FINALIZADO'"
                       [class.chip-cancelado]="e.estatus === 'CANCELADO'">
                      {{ e.estatus === 'VIGENTE' ? 'Activo' : (e.estatus === 'FINALIZADO' ? 'Finalizado' : 'Cancelado') }}
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef class="col-xs col-center">ACCIONES</th>
                  <td mat-cell *matCellDef="let e" class="col-xs col-center">
                    <div class="table-actions" *ngIf="e.estatus === 'VIGENTE'">
                      
                      <div class="btn-cell">
                        <button class="btnn ico-btn-primary" 
                          (click)="abrirDialog(e)"
                          [disabled]="e.estatus !== 'VIGENTE'"
                          [matTooltip]="e.estatus !== 'VIGENTE' ? 'Registro' +  e.estatus.toLowerCase() : 'Editar'">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button class="btnn ico-btn-danger" 
                          (click)="eliminarBeneficiario(e)"
                          [disabled]="!!e.qnaFin && e.qnaFin !== 999999" matTooltip="{{ (e.qnaFin && e.qnaFin !== 999999) ? 'Registro finalizado' : 'Editar' }}">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row 
                  *matRowDef="let row; columns: displayedColumns;" 
                  [class.row-finalizado]="!!row.qnaFin && row.qnaFin !== 999999"
                  [class.inicio-grupo]="row.mostrarEmpleado">
                </tr>
              </table>
         </div>
          <div class="table-footer">
            <mat-paginator
              [length]="totalElements"
              [pageSize]="50"
              [pageSizeOptions]="[50, 100, 150, 200]"
              showFirstLastButtons>
            </mat-paginator>
          </div>
      </div>
    </div>
  </div>
</div>

