<div class="page-container">
  <div class="actions-right">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="buscar()">
        <mat-icon>search</mat-icon>
        <span>Buscar</span>
      </button>
    </div>
    <button class="btn btn-danger" (click)="clearFilters()">
      <mat-icon>delete_outline</mat-icon>
      <span>Limpiar</span>
    </button>
  </div>

  <div [formGroup]="form" class="global-search">
    <div formGroupName="busqueda" class="qna-filters">

      <mat-form-field appearance="outline" class="compact-field qna-compact" floatLabel="always">
        <mat-label>Año</mat-label>
        <mat-select formControlName="anio">
        
          <mat-option *ngFor="let anio of anios" [value]="anio">
            {{ anio }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="compact-field qna-compact" floatLabel="always">
        <mat-label>Quincena</mat-label>
        <mat-select formControlName="quincena" >
          <mat-option *ngFor="let q of quincenas" [value]="q">
            {{ q.toString().padStart(2, '0') }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    
  </div>

  <div class="section-divider"></div>

  <div class="table-layout">
    <div class="table-section">
      <div class="table-card card">
        <div class="table-content">
          <div class="table-scroll">

          
              <table mat-table [dataSource]="dataSource" class="table-global">

                <ng-container matColumnDef="nombreEmpleado">
                  <th mat-header-cell *matHeaderCellDef class="header-with-select"> NOMBRE <br> EMPLEADO
                    <div class="header-column">
                      <mat-form-field appearance="outline" class="header-text-input-small" floatLabel="always">
                        <mat-label>Buscar</mat-label>
                        <input matInput formControlName="nombreEmpleado" (keydown.enter)="buscar()" appUppercase>
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let e">
                    <span *ngIf="e.mostrarEmpleado">{{ e.nombreEmpleado }}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="rfcEmpleado">
                  <th mat-header-cell *matHeaderCellDef> RFC <br> EMPLEADO 
                    <div class="header-column">
                      <mat-form-field appearance="outline" class="header-text-input-small" floatLabel="always">
                        <mat-label>Buscar</mat-label>
                        <input matInput formControlName="rfcEmpleado" (keydown.enter)="buscar()" appUppercase>
                      </mat-form-field>
                    </div>
                  </th>
                    <td mat-cell *matCellDef="let e">
                      <span *ngIf="e.mostrarEmpleado"> {{ e.rfcEmpleado }} </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="nombreBeneficiario">
                  <th mat-header-cell *matHeaderCellDef class="header-with-select"> NOMBRE <br> BENEFICIARIO
                    <div class="header-column">
                      <mat-form-field appearance="outline" class="header-text-input-small" floatLabel="always">
                        <mat-label>Buscar</mat-label>
                        <input matInput formControlName="nombreBeneficiario" (keydown.enter)="buscar()" appUppercase>
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let e">{{ e.nombreBeneficiario }}</td>
                </ng-container>

                <ng-container matColumnDef="rfcReferencia">
                  <th mat-header-cell *matHeaderCellDef class="header-with-select"> RFC <br> REFERENCIA
                    <div class="header-column">
                      <mat-form-field appearance="outline" class="header-text-input-small" floatLabel="always">
                        <mat-label>Buscar</mat-label>
                        <input matInput formControlName="rfcReferencia" (keydown.enter)="buscar()" appUppercase>
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let e">{{ e.rfcReferencia }}</td>
                </ng-container>

                <ng-container matColumnDef="noBeneficiario">
                  <th mat-header-cell *matHeaderCellDef>NUMERO <br> DE <br> BENEFICIARIO</th>
                  <td mat-cell *matCellDef="let e">{{ e.noBeneficiario }}</td>
                </ng-container>

                <ng-container matColumnDef="numeroOficio">
                  <th mat-header-cell *matHeaderCellDef>NUMERO <br> DE <br> OFICIO</th>
                  <td mat-cell *matCellDef="let e">{{ e.numeroOficio }}</td>
                </ng-container>

                <ng-container matColumnDef="qna">
                  <th mat-header-cell *matHeaderCellDef>QNA</th>
                  <td mat-cell *matCellDef="let e">{{ e.qna }}</td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                  <td mat-cell *matCellDef="let e">
                    <div class="table-actions">
                      <div class="bttn-group">
                        <button mat-icon-button class="bttn ico-btn-primary" (click)="abrirDialog(e)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="bttn ico-btn-danger" (click)="eliminarBeneficiario(e)">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
         </div>
            <mat-paginator
              [length]="totalElements"
              [pageSize]="50"
              [pageSizeOptions]="[50, 100, 150, 200]"
              showFirstLastButtons>
            </mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>