<div class="flex-shrink-0 p-3" style="width: 280px">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom" >
          <span class="fs-5 fw-semibold">SIINOM</span>
        </a>

        <ul class="list-unstyled ps-0">

          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#home-collapse"
              aria-expanded="true"
              >Catálogos
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a routerLink="/empleados/list" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Empleado</a>
                </li>
                <li>
                  <a routerLink="" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo Ingreso</a>
                </li>
                <li>
                  <a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Alta plaza adicional</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#home-collapse"
              aria-expanded="true"
              >Movimientos
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a routerLink="/contact" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Bandeja</a>
                </li>
                <li>
                  <a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo Ingreso</a>
                </li>
                <li>
                  <a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Alta plaza adicional</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#home-collapse"
              aria-expanded="true"
              >Cálculo de nómina
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                 <li>
                  <a routerLink="nomina/calculo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Calcular</a>
                </li>
                <li>
                  <a routerLink="nomina/ordinaria" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Visualizar nómina ordinaria</a>
                </li>
                <li>
                  <a routerLink="nomina/extraordinaria" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Visualizar nómina extraordinaria</a>
                </li>
                <li>
                  <a routerLink="nomina/extraordinaria" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Calcular aguinaldo</a>
                </li>
                <li>
                  <a routerLink="nomina/extraordinaria" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Calcular incremento</a>
                </li>
                <li>
                  <a routerLink="nomina/generar-producto" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Generar entregables</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <a routerLink="pension/alimenticia" class="link-body-emphasis d-inline-flex text-decoration-none rounded btn btn  d-inline-flex  align-items-center rounded border-0 collapsed">
              Pensíon Alimenticia
            </a>
          </li>

          <li class="mb-1">
            <button
              class="btn btn d-inline-flex align-items-center rounded border-0 collapsed">
              Dashboard
            </button>
          </li>
        </ul>

        <div class="dropdown position-fixed bottom-0 mb-3">
          <a
            href="#"
            class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>




      </div>
