<div class="sidebar-shell p-3" [class.collapsed]="collapsed">
  <a class="navbar-brand d-flex align-items-center gap-3" routerLink="/home">
    <span class="brand-title fw-semibold"></span>
  </a>

  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <a routerLink="/home" routerLinkActive="active"
         class="nav-link d-flex align-items-center text-decoration-none rounded">
        <i class="fa-solid fa-gauge me-2"></i>
        <span class="label">Home</span>
      </a>
    </li>

    <li class="mb-1" *ngFor="let node of menu">
      <ng-container *ngTemplateOutlet="grupo; context: { $implicit: node, nivel: 0 }"></ng-container>
    </li>
  </ul>
</div>

<ng-template #grupo let-node let-nivel="nivel">
  <button
    class="btn btn-toggle w-100 d-flex align-items-center justify-content-between rounded border-0"
    [class.sub-toggle]="nivel > 0"
    data-bs-toggle="collapse"
    aria-expanded="true"
    [attr.title]="node.name"
    [attr.data-bs-target]="'#menu-collapse-' + node.id">
    <span class="d-flex align-items-center">
      <i [class]="node.icon"></i>
      <span class="label">{{ node.name }}</span>
    </span>
    <i class="bi bi-chevron-down caret"></i>
  </button>

  <div class="collapse show" [id]="'menu-collapse-' + node.id">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
      <li *ngFor="let child of node.children">
        <ng-container *ngIf="child.children.length; else hoja">
          <ng-container *ngTemplateOutlet="grupo; context: { $implicit: child, nivel: nivel + 1 }"></ng-container>
        </ng-container>

        <ng-template #hoja>
          <a [routerLink]="child.route" routerLinkActive="active"
             [attr.title]="child.name"
             class="link-body-emphasis text-decoration-none rounded">
            <i [class]="child.icon"></i>
            <span class="label">{{ child.name }}</span>
          </a>
        </ng-template>
      </li>
    </ul>
  </div>
</ng-template>