<div class="sidebar-shell p-3" [class.collapsed]="collapsed">
  <a class="navbar-brand d-flex align-items-center gap-3" routerLink="/home">
    <span class="brand-title fw-semibold"></span>
  </a>

  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center text-decoration-none rounded">
        <i class="fa-solid fa-gauge me-2"></i>
        <span class="label">Home</span>
      </a>
    </li>

    <li class="mb-1" *ngFor="let group of menuGroups">
      <button
        class="btn btn-toggle w-100 d-flex align-items-center justify-content-between rounded border-0 collapsed"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#menu-collapse-' + group.parentId">

        <span class="d-flex align-items-center">
          <i [class]="group.icon + ' me-2'"></i>
          <span class="label">{{ group.parentName }}</span>
        </span>

        <i class="bi bi-chevron-down caret"></i>
      </button>

      <div class="collapse show" [id]="'menu-collapse-' + group.parentId">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li *ngFor="let item of group.children">
            <a
              [routerLink]="resolveRoute(item)"
              routerLinkActive="active"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded">
              <i [class]="(item.icon || 'fa-solid fa-circle') + ' me-2'"></i>
              <span class="label">{{ item.moduleName }}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>