<div class="dialog-shell">
  <div class="dialog-header dlg-bar">
    <button mat-icon-button class="dialog-close" (click)="cerrar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content *ngIf="form" [formGroup]="form" class="dlg-content">

    <div class="dlg-bar-title">Alta de usuario</div>

    <div class="section-divider"></div>

    <div class="form-grid">
      <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
        <mat-label>Usuario (email)</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput formControlName="user" appUppercase/>
          <mat-error *ngIf="form.get('user')?.hasError('required')">El email es requerido</mat-error>
          <mat-error *ngIf="form.get('user')?.hasError('email')">Ingresa un email válido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
        <mat-label>Contraseña</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput type="password" formControlName="password"/>
          <mat-error *ngIf="form.get('password')?.hasError('required')">La contraseña es requerida</mat-error>
          <mat-error *ngIf="form.get('password')?.hasError('minlength')">Mínimo 6 caracteres</mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
        <mat-label>catEmpleadoId</mat-label>
        <mat-icon matPrefix>badge</mat-icon>
        <input matInput type="number" formControlName="srl_emp"/>
           <mat-error *ngIf="form.get('srl_emp')?.hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
        <mat-label>Área</mat-label>
        <mat-icon matPrefix>domain</mat-icon>
        <input matInput formControlName="area" appUppercase/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
        <mat-label>Task</mat-label>
        <mat-icon matPrefix>task</mat-icon>
        <input matInput formControlName="task" appUppercase/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-field compact-field with-separator" floatLabel="always">
        <mat-label>Roles</mat-label>
        <mat-icon matPrefix>admin_panel_settings</mat-icon>
        <mat-select formControlName="roles" multiple>
          <mat-option *ngFor="let role of (data?.roles ?? [])" [value]="role.id">
            {{ role.name }}
          </mat-option>
        </mat-select>
         <mat-error *ngIf="form.get('roles')?.hasError('required')">Selecciona al menos un rol</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <div class="dlg-actions">
    <button class="btn btn-danger" (click)="cerrar()">Cancelar</button>
    <button class="btn btn-primary" (click)="guardar()">Guardar</button>
  </div>
</div>
