/* CONTENEDORES Y BOTONES */
.actions-right {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 14px;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn {
    width: 120px;
    height: 36px;
    padding: 0 16px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: .2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: none !important;
    transition: all .18s ease;
    cursor: pointer;
    position: relative;
    background: transparent;
    border: 2px solid;
}

.btn mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    transition: transform 0.2s ease;
}

.btn-primary {
    background: transparent;
    color: #2563eb;
    border-color: #2563eb;
}

.btn-primary:hover {
    background: #2563eb;
    color: #ffffff;
    border-color: #2563eb;
    transform: translateY(-1px);
}


.btn-danger {
    background: transparent;
    color: #dc2626;
    border-color: #dc2626;
}

.btn-danger:hover {
    background: #dc2626;
    color: #ffffff;
    border-color: #dc2626;
    transform: translateY(-1px);
}

.btn-success {
  background: transparent;
  color: #2e7d32;
  border-color: #2e7d32;
  min-width: 50px;
}

.btn-success:hover {
  background: #2e7d32;
  color: #ffffff;
  border-color: #2e7d32;
  transform: translateY(-1px);
}

.btnn {
    width: 40px;
    height: 36px;
    padding: 0 4px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: .2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: none !important;
    transition: all .18s ease;
    cursor: pointer;
    position: relative;
    background: transparent;
    border: 2px solid;
    margin-left: 8px;
}

.btn-succes {
  background: transparent;
  color: #2e7d32;
  border-color: #2e7d32;
}

.btn-succes:hover {
  background: #2e7d32;
  color: #ffffff;
  border-color: #2e7d32;
  transform: translateY(-1px);
}

.btn-dangerr {
    background: transparent;
    color: #dc2626;
    border-color: #dc2626;
}

.btn-dangerr:hover {
    background: #dc2626;
    color: #ffffff;
    border-color: #dc2626;
    transform: translateY(-1px);
}


/* SEARCH Y SELECTS */
.global-search {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

/* SEARCH FIELD */
:host ::ng-deep .qna-compact {
    width: 680px !important;
}

:host ::ng-deep .qna-compact .mat-mdc-form-field-infix {
    min-height: 40px !important;
    display: flex;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

:host ::ng-deep .qna-compact .mat-mdc-text-field-wrapper {
    height: 40px !important;
    display: flex;
    align-items: center;
}

:host ::ng-deep .qna-compact input.mat-mdc-input-element {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* TABLA GLOBAL */
.table-global {
    width: 100%;
}

.table-global .mat-mdc-header-cell {
    vertical-align: middle !important;
    padding: 10px 8px !important;
}

.table-global .mat-column-id {
  width: 10px !important;
  min-width: 10px !important;
  max-width: 10px !important;
  text-align: center;
}

.table-global .mat-column-nombreCompleto {
  width: 70px !important;
  min-width: 70px !important;
  max-width: 70px !important;
  text-align: center;
}

.table-global .mat-column-empleado {
  width: 70px !important;
  min-width: 70px !important;
  max-width: 70px !important;
  text-align: center;
}

.table-global .mat-column-roles {
  width: 70px !important;
  min-width: 70px !important;
  max-width: 70px !important;
  text-align: center;
}

.table-global .mat-column-padre {
  width: 70px !important;
  min-width: 70px !important;
  max-width: 70px !important;
  text-align: center;
}

.table-global .mat-column-hijo {
  width: 70px !important;
  min-width: 70px !important;
  max-width: 70px !important;
  text-align: center;
}


.table-global .mat-column-acciones {
  width: 70px !important;
  min-width: 70px !important;
  max-width: 70px !important;
  text-align: center;
}


/* Centrar cabeceras ID y ROL */
::ng-deep .table-global .mat-column-id.mat-mdc-header-cell,
::ng-deep .table-global .mat-column-nombreCompleto.mat-mdc-header-cell,
::ng-deep .table-global .mat-column-roles.mat-mdc-header-cell,
::ng-deep .table-global .mat-column-padre.mat-mdc-header-cell,
::ng-deep .table-global .mat-column-empleado.mat-mdc-header-cell {
    text-align: center;
}

/* Centrar el contenido del sort header (texto + flecha) */
::ng-deep .table-global .mat-column-id .mat-sort-header-container,
::ng-deep .table-global .mat-column-nombreCompleto .mat-sort-header-container,
::ng-deep .table-global .mat-column-roles .mat-sort-header-container,
::ng-deep .table-global .mat-column-padre .mat-sort-header-container,
::ng-deep .table-global .mat-column-empleado .mat-sort-header-container {
    justify-content: center;
}

/* Centrar celdas de datos */
::ng-deep .table-global .mat-column-id .mat-mdc-cell,
::ng-deep .table-global .mat-column-nombreCompleto .mat-mdc-cell,
::ng-deep .table-global .mat-column-roles .mat-mdc-cell,
::ng-deep .table-global .mat-column-padre .mat-mdc-cell,
::ng-deep .table-global .mat-column-empleado .mat-mdc-cell {
    text-align: center;
}