<div class="page-container">
    <div class="page-header">
        <h2 class="page-title">Gestion de usuarios</h2>
    </div>

    <div class="section-divider"></div>

    <div class="actions-bar">
        <div class="actions-right">
            <div class="btn-group">
                <button class="btn btn-primary" (click)="buscarUsuario()">
                    <mat-icon>search</mat-icon>
                    <span>Buscar</span>
                </button>
            </div>
            <button class="btn btn-danger" (click)="clearFilters()">
                <mat-icon>delete_outline</mat-icon>
                <span>Limpiar</span>
            </button>
           

            <button class="btn btn-success" type="button" (click)="openAltaUsuarioDialog()">
                <mat-icon>person_add</mat-icon>
                <span>Agregar</span>
            </button>
        </div>
    </div>

    <form [formGroup]="form">
        <div formGroupName="busqueda" class="global-search">
            <mat-form-field appearance="outline" class="qna-compact search-field with-separator" floatLabel="always">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Buscar (CURP, RFC, Empleado)</mat-label>
                        <input
                            matInput
                            id="buscarUsuario"
                            formControlName="searchText"
                            [matAutocomplete]="auto"
                            #autocompleteTrigger="matAutocompleteTrigger"
                            (keyup.enter)="buscarUsuario()"
                            appUppercase>

                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="usuarioSeleccionado($event.option.value)" [displayWith]="displayUsuario">
                        <mat-option *ngFor="let emp of resultado" [value]="emp">
                            {{ displayUsuario(emp) }}
                        </mat-option>
                    </mat-autocomplete>
            </mat-form-field>
        </div>
    </form>

    <div class="table-container">
        <div class="table-card card">
            <div class="table-content">
                <div class="table-scroll">
                    <table mat-table [dataSource]="usersDataSource" matSort matSortActive="id" class="table-global">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> ID </th>
                                <td mat-cell *matCellDef="let row"> 
                                    <span class="badge-year">{{ row.id }}</span>
                                 </td>
                            </ng-container>

                            <ng-container matColumnDef="nombreCompleto">
                                <th mat-header-cell *matHeaderCellDef> USUARIO </th>
                                <td mat-cell *matCellDef="let row"> {{ row.nombreCompleto }} </td>
                            </ng-container>

                            <ng-container matColumnDef="empleado">
                                <th mat-header-cell *matHeaderCellDef> DETALLE </th>
                                <td mat-cell *matCellDef="let row"> {{ row.empleado }} </td>
                            </ng-container>

                            <ng-container matColumnDef="roles">
                                <th mat-header-cell *matHeaderCellDef> ROLES </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="getUserRoles(row).length; else noRoles">
                                        <div *ngFor="let role of getUserRoles(row)">{{ role }}</div>
                                    </ng-container>
                                    <ng-template #noRoles>Sin roles</ng-template>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="padre">
                                <th mat-header-cell *matHeaderCellDef> PADRE </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="getUserParentModules(row).length; else noParentModules">
                                        <div *ngFor="let module of getUserParentModules(row)">{{ module }}</div>
                                    </ng-container>
                                    <ng-template #noParentModules>Sin padre</ng-template>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="hijo">
                                <th mat-header-cell *matHeaderCellDef> HIJO </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="getUserChildModules(row).length; else noChildModules">
                                        <div *ngFor="let module of getUserChildModules(row)">{{ module }}</div>
                                    </ng-container>
                                    <ng-template #noChildModules>Sin hijos</ng-template>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
                                <td mat-cell *matCellDef="let row">
                                    <div class="actions-cell">
                                        <button class="btnn btn-succes" type="button" (click)="openUsuarioDialog(row)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button class="btnn btn-dangerr" type="button" (click)="deleteUser(row)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                         </table>
                </div>
                <div class="table-footer">
                    <mat-paginator
                        [length]="totalUsers"
                        [pageSize]="pageSize"
                        [pageIndex]="pageIndex"
                        [pageSizeOptions]="[5,10,25,50]"
                        showFirstLastButtons
                        (page)="onPageChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
       
    </div>
</div>
