<div class="page-container">
    <div class="page-header">
        <h2 class="page-title">Información de terceros</h2>
    </div>

    <div class="section-divider"></div>

    <div class="section-header span-3">
        <h3>Filtros.</h3>
    </div>


     <div class="actions-right">
        <div class="btn-group">
            <button class="btn btn-primary">
                <mat-icon>task_alt</mat-icon>
                <span>Validar</span>
            </button>
        </div>

        <button class="btn btn-danger" (click)="clearFilters()">
            <mat-icon>delete_outline</mat-icon>
            <span>Limpiar</span>
        </button>

        
        <button class="btn btn-success" (click)="clearFilters()">
            <mat-icon>table_view</mat-icon>
            <span>Descarga xls</span>
        </button>

         <button class="btn btn-success" (click)="clearFilters()">
            <mat-icon>picture_as_pdf</mat-icon>
            <span>Descarga pdf</span>
        </button>
    </div>

    <form [formGroup]="form">
        <div formGroupName="busqueda" class="global-search">
            <mat-radio-group aria-label="Select an option" formControlName="tipoConcepto">
                <mat-radio-button class="rad" [value]="2">No Institucionales</mat-radio-button>
                 <mat-radio-button [value]="1">Institucionales</mat-radio-button>
            </mat-radio-group>

            <mat-form-field appearance="outline" class="compact-field qna-compact concepto-wi" floatLabel="always">
                <mat-label>Concepto</mat-label>
                    <mat-select formControlName ="concepto">
                        <mat-option *ngFor="let c of conceptosFiltrados" [value]="c.cve">{{ c.cve }} - {{ c.descripcion }} </mat-option>
                    </mat-select>
            </mat-form-field>

            <div class="concepto-total" *ngIf="buildQnaProceso() && form.get('busqueda.concepto')?.value">
                Número de registros de este concepto:
                <strong>{{ totalConceptoSeleccionado }}</strong>
            </div>
        </div>
    </form>

    <div class="section-divider"></div>

    <div class="table-layout">
        <div class="table-section">
            <div class="table-card card">
                <div class="table-content">
                    <div class="table-scroll">
                        <table mat-table [dataSource]="dataSource" class="table-global">
                            <ng-container matColumnDef="validar">
                                <th mat-header-cell *matHeaderCellDef class="header-with-select"> VALIDAR
                                    <div class="header-column">
                                        <mat-checkbox
                                            [checked]="isAllChecked()"
                                            [indeterminate]="isSomeChecked()"
                                            (change)="toggleAll($event.checked)">
                                        </mat-checkbox>
                                    </div>
                                </th>

                                <td mat-cell *matCellDef="let e">
                                    <mat-checkbox [checked]="!!e.validado" (change)="toggleRow(e, $event.checked)"> </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="rfc">
                                <th mat-header-cell *matHeaderCellDef> RFC </th>
                                <td mat-cell *matCellDef="let e">{{ e.rfc }}</td>
                            </ng-container>

                             <ng-container matColumnDef="curp">
                                <th mat-header-cell *matHeaderCellDef> CURP </th>
                                <td mat-cell *matCellDef="let e">{{ e.curp }}</td>
                            </ng-container>

                            <ng-container matColumnDef="nombreCompleto">
                                <th mat-header-cell *matHeaderCellDef>NOMBRE COMPLETO</th>
                                <td mat-cell *matCellDef="let e">{{ e.nombreTrabajador  }}</td>
                            </ng-container>

                            <ng-container matColumnDef="numeroOrden">
                                <th mat-header-cell *matHeaderCellDef> NUMERO DE ORDEN</th>
                                <td mat-cell *matCellDef="let e">{{ e.numeroDocumento  }}</td>
                            </ng-container>

                            <div [formGroup]="filtrosTabla">
                                <ng-container matColumnDef="tipoOrden">
                                        <th mat-header-cell *matHeaderCellDef class="header-with-select"> ORDEN
                                            <div class="header-column estatus-column">
                                                <mat-form-field appearance="outline" class="header-select header-select-orden">
                                                    <mat-select formControlName="tipoOrden">
                                                        <mat-option *ngFor="let t of tipoOrdenOptions" [value]="t.value"> {{ t.label }} </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let e">{{ e.tipoOrden }}</td>
                                </ng-container>

                                <ng-container matColumnDef="importeMensual">
                                    <th mat-header-cell *matHeaderCellDef> IMPORTE MENSUAL</th>
                                    <td mat-cell *matCellDef="let e">{{ e.importeMensual }}</td>
                                </ng-container>

                                <ng-container matColumnDef="concepto">
                                    <th mat-header-cell *matHeaderCellDef> CONCEPTO</th>
                                    <td mat-cell *matCellDef="let e">{{ e.conceptoDescuento  }}</td>
                                </ng-container>

                                <ng-container matColumnDef="qnaProceso">
                                        <th mat-header-cell *matHeaderCellDef>QUINCENA PROCESO
                                            <div class="header-column qna-proceso-column">
                                                <div class="qna-filters-container">
                                                    <mat-form-field appearance="outline" class="header-select" floatLabel="always">
                                                        <mat-label>AÑO</mat-label>
                                                            <mat-select formControlName="anio" >
                                                                <mat-option *ngFor="let anio of anio" [value]="anio">{{ anio }}</mat-option>
                                                            </mat-select>
                                                    </mat-form-field>

                                                    <mat-form-field appearance="outline" class="header-select" floatLabel="always">
                                                        <mat-label>QNA</mat-label>
                                                            <mat-select formControlName ="quincena" >
                                                                <mat-option *ngFor="let q of quincena" [value]="q">{{ q.toString().padStart(2,'0') }}</mat-option>
                                                            </mat-select>
                                                    </mat-form-field>
                                                    </div>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let e">{{ e.qnaProceso }}</td>
                                </ng-container>

                                <ng-container matColumnDef="estatus">
                                        <th mat-header-cell *matHeaderCellDef> ESTATUS
                                            <div class="header-column estatus-column">
                                                <mat-form-field appearance="outline" class="header-select header-select-orden" floatLabel="always">
                                                    <mat-select formControlName="estatus">
                                                        <mat-option *ngFor="let s of estatusOptions" [value]="s.value"> {{ s.label }} </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let e">{{ e.estatus }}</td>
                                </ng-container>
                            </div>

                            <ng-container matColumnDef="fechaRegistro">
                                <th mat-header-cell *matHeaderCellDef> FECHA REGISTRO </th>
                                <td mat-cell *matCellDef="let e"> {{ e.fechaRegistro | date:'yyyy-MM-dd HH:mm:ss' }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator
                            [length]="totalElements"
                            [pageSize]="50"
                            [pageSizeOptions]="[50, 100, 150, 200]"
                            showFirstLastButtons
                            (page)="onPage($event)">
                        </mat-paginator>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
